name: "Terraform Plan"

on:
  push:
    branches:
    - main
    paths:
    - terraform/**
  pull_request: 
    branches:
    - main
    paths:
    - terraform/**
    
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
  
jobs:
  terraform:
    name: "Terraform Infra Manage"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Terraform with version
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.5
          
      - name: Terraform init
        id: init
        run: terraform init
      
      - name: terraform format
        id: fmt
        run: terraform fmt -check
      
      - name: terraform validate
        id: validate
        run: terraform validate
      
      - name: terraform plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Save plan output to file
        if: always()
        run: terraform show -no-color tfplan > plan.txt

      - name: Comment Terraform plan in PR
        if: github.event_name == 'pull_request'
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: terraform-plan
          path: terraform/plan.txt
